name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: rustup update stable && rustup component add clippy rustfmt
      - name: Format Check
        run: cargo fmt --all -- --check
      - name: Lint with Clippy
        run: cargo clippy -- -D warnings
      - name: Run Tests
        run: cargo test --verbose